# fichiers cachés ou temporaires de Mac OS
.DS_Store
~*

# dossier de réglages de PHPStorm
css/
.idea/
**/.idea/

config.inc.php
stylesheets/
bower_components/
node_modules/
dist/

# dossier de cache de sass
.sass-cache/
**/.sass-cache/

inc/scripts/