<!DOCTYPE HTML>
<html lang="fr">

<body>
<main>
    <h1>As-tu le profil?</h1>
    {% for i in 0..9 %}
        <p>{{ xml[i]['texteQuestion'] }}</p>
        {% for j in 0..3 %}
            <p>{{ xml[i]['texteReponse'][j] }}</p>
            <p>{{ xml[i]['pointage'][j] }}</p>
        {% endfor %}
        <br />
    {% endfor %}
</main>
</body>
</html>