html{
  font-size: 100%;

  .body-ate{
    #hero-section{
      margin: 0;
    }

    .main{
      @include clearfix();
      padding: 2rem 0;

      h3{
        margin-top: 0;
      }

      .intro, .content-1, .content-2, .content-3{
        margin-bottom: 2.4rem;
      }

      .intro{
        font-weight: bold;
      }

      p{
        max-width: 70%;

        @media (max-width: 1094px){
          max-width: 100%;
        }
      }

      .content-3{
        ul {
          list-style: none;
          padding: 0;
        }
        li {
          padding-left: 1.3em;
        }
        li:before {
          content: "\f00c";
          font-family: FontAwesome;
          display: inline-block;
          margin-left: -1.09rem;
          width: 1.1rem;
          color: $blue;
        }
      }
    }
  }
}