div.formConnexion{

    float: none;
    margin: 0 auto;

    fieldset{

        margin-top: 1em;

    }

    legend{

        display: none;

    }

    input#nomUsager, input#motDePasse{
        
        width: 100%;
        height: 47px;
        padding-left: 58px;
        border: none;
        border-radius: 5px;

    }

    .asterisque, .erreurGlobale{

        color: red;

    }

    button{

        margin-bottom: 4em;

    }

}

footer.footer_connexion{

    position:fixed;
    bottom:0;
    left: 0;
    right: 0;

}