/** FICHE ÉTUDIANT **/
.editer_etudiant {

  h1{
    margin-bottom: 2em;
  }

  padding: 2em 0;

  /* Espacement entre chaque blocs et sections */
  .profil, .forces, .contact_etudiant, .interets_etudiant, .photo_actuelle, .televersement, .nouvelle_photo, #projets_diplome {
    margin-bottom: 2em;
  }

  section {
    padding-bottom: 2em;

    .h3 {
      font-family: raleway_semi_bold;
      font-size: 28px;
    }

    /* Intérêts */
    .interets_etudiant {
      margin-top: 1em;

      div {
        display: inline-block;
        margin-right: 2em;
        margin-bottom: 2em;

        @media screen and (min-width: $tablettePortrait) {
          width: inherit;
          margin-right: 3em;
        }
      }
      div:last-child {
        width: inherit;

        @media screen and (min-width: $tablettePortrait) {
          margin-right: 0;
        }
      }

    }
    /* Coordonnées */
    .contact_etudiant {
      margin-top: 1em;
      padding-left: 0;
      div {
        margin: 0 1em 1em 0;
      }
    }

    /* Zones de texte profil et forces */
    .profil > div:nth-child(2), .profil > div:nth-child(3), .forces > div:nth-child(2), .forces > div:nth-child(3) {

      width: 100% !important;

      .nicEdit-main {
        width: 98.1% !important;
      }
    }

    @media screen and (min-width: $desktop2) {
      /* Zones de texte profil et forces */
      .profil > div:nth-child(2), .profil > div:nth-child(3), .forces > div:nth-child(2), .forces > div:nth-child(3) {

        width: 90% !important;
      }
    }

    /* Formulaires */
    form {
      legend {
        width: inherit;
      }

      select {
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
        width: 50px;
        height: 47px;
        border: none;
      }

      input[type=file] {
        box-shadow: inherit;
      }

      .btn_reset{
        margin-left: 0.5em;
      }


    }

    form.fTeleversement{
      p{
        margin-top: 1em;
        color: red;
        .erreurGlobale{
          padding: 1em;
          border-radius: 5px;

          i{
            margin-right: 1em;
          }
        }
      }
    }

  }


}
