/** FICHE DU PROJET **/
.fiche_projet {

  /** BANNIÈRE PROJET **/
  .hero-image-center {
    background-image: none!important;

    .hero_title {
      display: block;
      width: 100%;
      a {
        color: white;
      }
    }

    a {
      color: #1a405b;
    }

    .retour_precedent {
      position: absolute;
      bottom: 10%;
    }
  }

  /** Textes projet **/
  .texte_intro_projet {
    div {
      margin-bottom: 3em;
    }

    padding: 0;

    @media screen and (min-width: $desktop2) {
      padding-right: 3em;
    }

    @media screen and (min-width: $desktopLarge2) {
      padding: 0 15px;
    }
  }

  /* Photos projet */
  .photos_projet .single-projet {
    margin-right : 0;
  }

  /* Technologies et cadre du projet */
  .technologies_cadre div{
    display: inline-block;
    margin-left: 0;

    &:first-child{
      margin-left: 0;
    }
  }

  /* Autres projets */
  #autres_projets{
    clear: both;
    padding-top: 3em;

    div.container-fluid{
      padding: 0;

      @media screen and (min-width: $desktopLarge2) {
        padding: 0 15px;
      }
    }
  }

  /* icône de loupe */
  .fa-search-plus {
    font-size: 24px!important;
  }

  .url-projet{
    font-size: 40px;
    position: absolute;
    top: 65%;
  }

  .list-projets .single-projet:first-child{
    padding-left: 0;
    padding-right: 0;
    @media screen and (min-width: $tablettePortrait2) {
      padding-right: 30px;
    }
  }

}