footer.footer_connexion{

    position:fixed;
    bottom:0;
    left: 0;
    right: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    background: linear-gradient(to left, #0098FF, #00ACFF);

    div.meta_nav{

        box-shadow: none;

        p{
            width: 100%;
            text-align: center;
        }

    }

}

footer.footer_admin{

    height: 9em;
    padding-top: 1em;
    padding-bottom: 1em;
    background: linear-gradient(to left, #0098FF, #00ACFF);

    div.meta_nav{

        box-shadow: none;

        p{
            width: 100%;
            text-align: center;
        }

    }

}
