body {

  footer {
    background-color: $bgFooter;
    clear: both;
    z-index: 0;
    padding-top: 4em;
    display: block;
    float: none !important;

    a {
      font-family: 'work sans', sans-serif;
      font-weight: 400;
    }

    .blue-btn:before {
      border-bottom: 10px solid $bgFooter!important;
    }

    .back_slant {
      box-shadow: 13px 3px 1px 12px $bgFooter!important;
    }

    .blue-btn .back_slant:before{
      border-top: 10px solid $bgFooter;
    }

    section.pre_footer {

      float: none !important;
      display: table;
      article {
        padding-right: 6%;
      }

    }
    section.main_footer {
      margin: 2em auto;

      h2 {
        padding-left: 15px;
      }
      ul {

        padding: 1em;
        li {
          display: inline-block;

          @media screen and (min-width: $mobilePortrait2) {
            margin-right: 2em;
          }

          i {
            font-size: 30px;
            color: #0d97f5;
          }
        }
        li:last-child {
          margin-right: 0;
        }
      }

      div {
        width: 70%;
        margin: 0 auto;
        text-align: center;
      }
    }

    .meta_nav {
      background: linear-gradient(to left, #0098FF, #00ACFF);
      width: 100%;
      margin-bottom: 0;

      p {
        float: left;
        color: #fff;
        font-family: work sans, sans-serif;
        font-weight: 400;
        font-size: 14px;
        padding: 15px 0 0 0;
      }
      ul {
        li {
          a {
            color: white;

          }

        }
      }

      .col-sm-12{
        padding: 0;
      }
    }
  }
}