body {

  footer {
    z-index: 0;
    display: block;
    float: none !important;

    section.pre_footer {

      float: none !important;
      display: table;
      article {
        padding-right: 6%;
      }

    }
    section.main_footer {
      margin: 2em auto;

      h2 {
        padding-left: 15px;
      }
      ul {

        padding: 1em;
        li {
          display: inline-block;
          margin-right: 2em;
          i {
            font-size: 30px;
            color: #0d97f5;
          }
        }
        li:last-child{
          margin-right: 0;
        }
      }

      div {
        width: 70%;
        margin: 0 auto;
        text-align: center;
      }
    }

    .meta_nav {
      float: left;
      background: linear-gradient(to left, #0098FF, #00ACFF);
      width: 100%;

      p {
        float: left;
        color: #fff;
        font-family: open_sans_regular;
        font-size: 14px;
        padding: 15px 0 0 0;
      }
      ul {
        li {
          a {
            color: white;

          }

        }
      }
    }
  }
}