div.futur_etudiant{

  margin-top: 3em;

  img.imgtest{

    width: 100%;

  }

  h2.h2Benoit{

    margin-top: 3em;

  }

  hr.trait_decoratif{

    border: 0;
    display:block;
    width: 100%;
    background-color: #d4d6d8;
    height: 1px;
    margin: 0;

  }


  ul li{
    font-family: work sans;
    font-size: 16px;
    margin-left: 2em;
    margin-top: 1em;
    list-style-image: url('../images/fleche_liste.png');

  }

  h3{

    margin-top: 2em;

  }

}

p.travail_integrateur{

  font-family: raleway_bold;
  padding-top: 0.7em;

}

li.liste_ou{

  list-style-image: none !important;

}

span.ou{

  font-size: 30px;
  margin-left: 1em;
  color: #46b6f4;

}

div.formationVivante>p, div.integrateur, div.continuum{

  max-width: 80%;

}

div.formationVivante{

  margin-bottom: 4em;

}

div.prealables, div.processus{
  
  margin-top: 2em;
  margin-bottom: 4em;

}

div.etudiantUnJour{

  clear: both;
  margin-top: 4em;

}

div.sectionQuiz{

  display: inline-block;
  //background-color: $grey;
  padding-top: 2em;
  padding-bottom: 4em;

  span.back_slant{

    &:before{
      left: -10px;
      border-top: 10px solid white;
      border-left: 10px solid transparent;
    }
    
    background-color: white;
    box-shadow: 12px 3px 1px 12px white;

  }

}

div.profil_quiz{

  p{

    max-width: 90%;

  }

}

div.image_benoit{

  img{
    display: block;
    margin: 0 auto;

  }

}

@media screen and (max-width: 750px) {

  div.integrateur, div.continuum{

    max-width: 100%;

  }

}

@media screen and (max-width: 500px) {

  div.futur_etudiant{

div.formationVivante>p, div.integrateur, div.continuum{

  max-width: 100%;

}

  h2.h2Benoit{

    margin-top: 3em;

  }

  }

}


@media screen and (max-width: 600px) {

  div.image_benoit{

  img{

    display: none;

  }

}
}

@media screen and (min-width: 600px) {

  div.image_benoit{

  img{

    width: 70%;

  }

}
}

@media screen and (min-width: 768px) {

  div.image_benoit{

  img{

    width: 80%;
    padding-top: 4em;

  }

}
}

@media screen and (min-width: 1024px) {

  div.image_benoit{

  img{

    width: 70%;

  }

}
}




