header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 999999;
  @media(max-width: 769px) {
    box-shadow: 0 0 0;
  }

  .meta_nav {
    height: 30px;
    padding: 5px 2%;

    a {
      font-weight: 400;
      font-family: 'work sans', sans-serif;
    }
    @media (max-width: 769px) {
      display: none;
      height: 25px;
    }
  }

  .sub_hide {
    height: 70px;
    position: absolute;
    width: 100vw;
    display: table;
    left: 0;
    background-color: #fff;
    top: 0;
    z-index: -1;
    /* color: black; */
    @media (max-width: 769px) {
      display: none;
      @media (max-width: 550px) {
        height: 45px;
      }
    }
  }

  .sub_hide.mobile {
    display: table;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .12);
  }

  #logoTIM {
    position: relative;
    top: -5px;
    float: left;
    @media(max-width: 769px) {
      left: 2%;
    }

    img {
      width: 110px;
      top: 16px;
      position: absolute;
      backface-visibility: hidden;
      transition: all .2s ease-in-out;
    }

    img.big_svg {
      width: 140px;
      top: 0;
      transition: all .2s ease-in-out;
      @media (max-width: 769px) {
        width: 110px;
        top: 16px;
        position: absolute;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        @media (max-width: 550px) {
          width: 70px;
          top: 12px;
        }
      }
    }

    span {
      position: absolute;
      left: 120px;
      top: 20px;
      line-height: 14px;
      font-family: raleway_semi_bold;
      font-size: 12px;
      transition: all .2s ease-in-out;
    }

    span.big_text {
      position: absolute;
      left: 150px;
      top: 6px;
      line-height: 18px;
      font-family: work sans;
      font-weight: 500;
      font-size: 14px;
      transition: all .2s ease-in-out;
      @media (max-width: 769px) {
        left: 120px;
        top: 20px;
        line-height: 14px;
        font-size: 12px;
        @media(max-width: 550px) {
          display: none;
          left: 75px;
          top: 12px;
          line-height: 10px;
          font-size: 8px;
        }
      }
    }
  }

  a {
    cursor: pointer;
    color: black;
    position: relative;
    //transition: all .2s ease-in-out;

    p {
      position: absolute;
      left: 120px;
      top: 20px;
      line-height: 14px;
      font-family: raleway_semi_bold;
      font-size: 12px;
      transition: all .2s ease-in-out;
    }

    &:hover {
      text-decoration: none;
      color: #0D97F5;
    }

    &:focus {
      text-decoration: none;
      color: #0D97F5;
      outline: none;
    }
  }

  .mobile_ul {
    @media(min-width: 770px) {
      height: 10px;
    }
  }

  nav#nav_primary {
    height: 70px;
    padding: 0 155px 24px 2%;
    position: relative;
    @media (max-width: 769px) {
      padding: 0 0 24px;

      input[type="checkbox"]:checked ~ label {
        color: #0D97F5;

        &:after {
          content: "+";
          display: table;
          position: absolute;
          transform: translateX(4px) rotate(225deg) scale(1.5, 1.5);
          top: -8px;
          color: red !important;
          right: -10px;
          transition: transform .3s ease-out;
          z-index: 9;
        }
      }

      input[type="checkbox"] ~ ul.mobile_ul {
        display: block !important;
        transition: transform .6s, box-shadow .4s .3s ease-out;
        //padding: 15px 0px 0px 0px;
      }

      input[type="checkbox"]:checked ~ ul.mobile_ul {
        display: block !important;
        transform: translateY(492px);
        box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.18);
        opacity: 100;
        //transition : transform 0.6s, opacity 0.5s 0.3s  ease-out;
      }
      @media(max-width: 550px) {
        padding: 0;
        height: 45px;

        input[type="checkbox"]:checked ~ ul.mobile_ul {
          transform: translateY(478px);

        }
      }
    }


    /* LIENS ACTIFS */

    ul.second_nav a.lien_actif {
      border-bottom: #FFF solid 1px;
    }
    ul.mobile_ul label.lien_actif {
      color: $blue!important;
    }


    .mobile_meta_nav {
      display: none;
      @media(max-width: 769px) {
        display: block;
      }
    }

    #checkbox_mobile {
      display: none;
    }

    #menu_mobile {
      font-family: 'work sans', sans-serif;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 20px;
      display: none;

      &:after {
        content: "+";
        display: table;
        position: absolute;
        top: -8px;
        font-family: Open_sans_bold;
        right: -10px;
        color: #0d97f5;
        background: hsla(0, 0%, 100%, 0);
        z-index: 9;
        -webkit-transition: -webkit-transform .3s ease-out;
        transition: transform .3s ease-out;
      }
      @media(max-width: 769px) {
        display: table;
        margin: auto;
        position: relative;
        top: 20px;
        @media(max-width: 550px) {
          top: 14px;
          font-size: 12px;

          &:after {
            top: -6px;
            right: -6px;
          }
        }
      }
    }

    ul {
      list-style: none;
      padding: 25px 0 0;
      margin-bottom: 0;
      text-align: right;
      @media(max-width: 769px) {
        padding: 95px 0 0;
        text-align: center;
        padding: 0;
        top: -450px;
        z-index: -50;
        position: relative;
        display: table;
        //display: none;
        width: 100%;
        background-color: white;
      }

      li.top_niveau {
        display: inline-block;
        font-family: 'work sans', sans-serif;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 14px;
        margin-left: 4.8611%;
        cursor: pointer;
        @media(max-width: 769px) {
          font-size: 16px;
          margin: auto;
          display: table;
          position: relative;
          width: 100%;
          @media(max-width: 550px) {
            font-size: 12px;
          }
          //margin-bottom: 15px;
        }

        label {
          cursor: pointer;
          color: black;
          position: relative;
          transition: all .3s ease;
          font-weight: 600;
          font-family: 'work sans', sans-serif;
          text-rendering: optimizeLegibility;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          &:after {
            content: "+";
            display: table;
            position: absolute;
            top: -8px;
            font-family: Open_sans_bold;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            right: -10px;
            color: #0D97F5;
            background: hsla(0, 0%, 100%, 0);
            z-index: 9;
            transition: transform .3s ease-out;
          }

          &:hover {
            text-decoration: none;
            color: #0D97F5;
          }

          &:focus {
            text-decoration: none;
            color: #0D97F5;
            outline: none;
          }
          @media only screen and (max-width: 769px) {
            margin: 0;
            padding: 14px;
            box-shadow: inset 0 -10px 1px -10px #313131;
            z-index: 99999;
            top: 0;
            background-color: #fff;

            &:after {
              color: black !important;
            }

            &:hover {
              color: black;
            }
          }

        }

        label[for=diplomes] {
          &:after {
            content: "";
          }
        }

        input[type="checkbox"] {
          display: none;
        }

        input[type="checkbox"]:checked ~ label {
          color: #0D97F5;

          &:after {
            content: "+";
            display: table;
            position: absolute;
            transform: translateX(4px) rotate(225deg) scale(1.5, 1.5);
            top: -8px;
            font-family: Open_sans_bold;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            color: red;
            right: -10px;
            background: hsla(0, 0%, 100%, 0);
            transition: transform .3s ease-out;
            z-index: 9;
          }
          @media(max-width: 769px) {

            &:after {
              display: none !important;
            }
          }
        }

        input[type="checkbox"] ~ ul.second_nav {
          display: block !important;
          transition: transform .7s ease-out, box-shadow .4s .3s ease-out;
          @media(max-width: 769px) {
            transform: translateY(0px);
            display: table !important;
          }
        }

        input[type="checkbox"]:checked ~ ul.second_nav {
          display: block !important;
          transform: translateY(50px);
          box-shadow: 2px 3px 5px rgba(0, 172, 255, .25);
          opacity: 100;
          //transition : transform 0.6s, opacity 0.5s 0.3s  ease-out;
          @media(max-width: 769px) {
            transform: translateY(0);
            display: table !important;
          }
        }

        ul.second_nav {
          display: none;
          text-align: left;
          padding: 15px 2% 24px;
          width: 100vw;
          background: linear-gradient(270deg, #0098ff, #00acff);
          color: #fff;
          position: absolute;
          left: 0;
          opacity: 1;
          top: 20px;
          z-index: -50;
          cursor: default;
          height: 50px;
          @media(max-width: 769px) {
            position: relative;
            z-index: 20;
            text-align: center;
            padding: 0;
            width: 100%;
          }

          li {
            display: inline-block;
            color: #fff;
            margin-right: 4.8611%;
            @media(max-width: 769px) {
              display: block;
              margin: 0;
              padding: 8px 0;
              border-bottom: rgb(0, 141, 236) solid 1px;
            }

            a {
              font-weight: 600;
              font-family: 'work sans', sans-serif;
              color: #fff;
              -webkit-font-smoothing: antialiased;
            }
          }

          li:last-of-type {
            margin-right: 0;
          }
        }

        .second_nav.sub_etudiant {
          @media(max-width: 769px) {
            height: auto;
            top: 0;
            padding: 0;

          }

        }

        .second_nav.sub_programme {
          @media(max-width: 769px) {
            height: auto;
            top: 0;
            padding: 0;

          }
        }

        .second_nav.sub_stages {
          @media(max-width: 769px) {
            height: auto;
            top: 0;
            padding: 0;

          }
        }
      }

      .top_niveau.menu_etudiant {
        top: 0;
        @media(min-width: 770px) {
          height: 25px !important;
        }
        @media(max-width: 769px) {
          top: 0;
          height: 50px;
          display: block;
          transition: all .3s ease-out;
          @media(max-width: 550px) {
            height: 45px;
          }
        }
      }

      .top_niveau.menu_programme {
        top: 195px;
        @media(min-width: 770px) {
          height: 25px !important;
        }
        @media(max-width: 769px) {
          top: 0;
          height: 50px;
          display: block;
          transition: all .3s ease-out;
          @media(max-width: 550px) {
            height: 45px;
          }
        }
      }

      .top_niveau.menu_stages {
        @media(min-width: 770px) {
          height: 25px !important;
        }
        top: 312px;
        @media(max-width: 769px) {
          top: 0;
          height: 50px;
          display: block;
          transition: all .3s ease-out;
          @media(max-width: 550px) {
            height: 45px;
          }
        }
      }

      .top_niveau.menu_diplomes {
        top: 428px;
        @media(max-width: 769px) {
          top: 0;
          a {
            height: 100%;
            width: 100%;
            display: table;
          }
        }
      }

      .mobile_meta_nav {
        @media(min-width: 770px) {
          display: none;
        }
        margin: auto;
        display: block;
        height: 50px;
        position: relative;
        top: 0;
        width: 100%;
        z-index: 99999999;
        background-color: #ceedff;

        ul {
          top: 0;
          z-index: 999999999;
          padding-top: 10px;
          display: table;
          width: auto;
          background-color: transparent;
          margin: auto;

          li {
            margin-bottom: 15px;
            display: inline-block;
            margin-left: 15px;
            width: 85px;
            font-family: 'work sans', sans-serif;
            font-size: 12px;
            margin-right: 15px;
            @media(max-width: 550px) {

              width: 75px;
            }

            a {
              img {
                width: 70px;
              }
            }
          }
        }
      }

      .social_mobile {
        ul {
          li {
            font-size: 22px;
          }
        }

      }

      li:last-of-type {
        margin-right: 4.8611%;
        @media(max-width: 769px) {
          margin: auto;

          display: block;
        }
      }
    }

    .btn_rouge {
      padding: 12px 24px;
      background: linear-gradient(to left, #F5285D, #FF2424);
      /* For Safari 5.1 to 6.0 */

      font-family: raleway_black;
      box-shadow: 16px 3px 6px 0 rgba(246, 40, 89, .42);
      -moz-osx-font-smoothing: grayscale;
      font-size: 14px;
      color: white;
      position: absolute;
      right: -3.6px;
      top: 13px;
      -webkit-backface-visibility: hidden;
      transform: translateX(0px);
      transition: all .2s ease-in-out;
      @media(max-width: 769px) {
        padding: 25px 30px;
        font-size: 16px;
        right: 0;
        width: 33%;
        height: 100%;
        top: 0;
        box-shadow: 0 0 0 0 rgba(246, 40, 89, .42);

        &:hover {
          transform: translateX(0px) !important;
          box-shadow: 0 0 0 0 rgba(246, 40, 89, .42) !important;
          //right: -0px;
        }

        &:before {
          display: none !important;
        }

        &:after {
          display: none !important;
        }
        @media(max-width: 550px) {
          padding: 4% 8px;
          font-size: 12px;
        }
      }

      #label_inscription {
        display: table;
        margin: auto;
        font-weight: 600;
        font-family: 'work sans', sans-serif;
      }

      &:hover {
        transform: translateX(-3.6px);
        //right: -0px;
        box-shadow: 16px 2px 2px 0 rgba(246, 40, 89, .42);

        &:after {
          content: "";
          display: table;
          position: absolute;
          bottom: 5px;
          left: 3px;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          background: rgba(255, 255, 255, 0);
          height: 11px;
          width: 19px;
          box-shadow: 1px 3px 3px rgba(246, 40, 89, .22);
          z-index: 9;
        }
      }

      &:before {
        content: "";
        display: table;
        position: absolute;
        bottom: 0;
        left: -1px;
        width: 0;
        height: 0;
        z-index: 9;
        border-bottom: 15px solid #fff;
        border-right: 15px solid transparent;
      }

      &:after {
        content: "";
        display: table;
        position: absolute;
        bottom: 5px;
        left: 3px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background: rgba(255, 255, 255, 0);
        height: 11px;
        width: 19px;
        box-shadow: 2px 3px 8px rgba(246, 40, 89, .22);
        z-index: 9;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
      }
    }

  }
}
