/** À DELETER -> Le code est dans global.scss **/
.accueil {
  .blue-btn {
    color: #fff !important;
  }
  section{
    clear: both;
    display: block;
    height: auto;
    position: relative;
    margin-bottom:25px;
    .container{
      padding-top: 0px;
      height: auto;
      position: relative;
      display: table;
    }
  }
}

#news-section {
  clear: both;
  display: block;
  height: auto;

  .actualite_img {
    //background-image: url(../../dist/images/news_img_placeholder.png);
    height: auto;
    color: #009eff;
    font-size: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: table;
    margin: auto;
    top: -30px;
    @media(max-width:760px){
        display: none;
      }
    i{
    display: table;
    position: relative;
    font-size: 130px;
    margin: auto;
      @media(max-width:769px){
        float: right;
      }
      
    }
  }
  .news_home {
    height: auto;
    position: relative;
    .actualite_text {
      .date {
        margin: 0;
      }
      h3 {
        margin: 0;
      }
      .desc_nouvelle {
        margin: 15px 0 15px;
      }
    }
  }

}

#social-section {
  .social_home {
    h3 {
      margin: 5px 0 5px 0;
    }
    .date {
      margin: 0;
    }
    .fb_feed {
      a {
        color: #4862A3;
        &:hover {
          cursor: pointer;
          text-decoration: none;
          .share {
            transform: translate(3px, -3px) scale(1.1);
          }
        }
      }
    }
    .twitter_feed {
      @media(max-width:769px){
        margin-top: 25px;
      }
         
      a {
        color: #55ACEE;
        &:hover {
          cursor: pointer;
          text-decoration: none;
          .share {
            transform: translate(3px, -3px) scale(1.1);
          }
        }
      }
    }
    .share {
      position: relative;
      left: 10px;
      top: -12px;
      font-size: 15px;
      transition: all .2s ease-in-out;
    }
  }
}