html{
  font-size: 100%;

  .body-international{
    .main{
      .intro{
        margin-bottom: 2.6rem;
        padding: 2rem;

        p{
          max-width: 70%;
        }
      }

      .partnership{
        ul {
          list-style: none;
          padding: 0;
        }
        li {
          padding-left: 1.3em;
        }
        li:before {
          content: "\f00c";
          font-family: FontAwesome;
          display: inline-block;
          margin-left: -1.09rem;
          width: 1.1rem;
          color: $blue;
        }
      }
    }
  }
}