html{
  font-size: 100%;

  .body-international{
    .main{
      .intro{
        margin-bottom: 2.6rem;

        p{
          max-width: 70%;

          @media (max-width: 1094px){
            max-width: 100%;
          }
        }

        .partnership{
          list-style: none;
          padding: 0;

          .website{
            font-family: work sans;
            font-size: 16px;
            margin-left: 1.5em;
            margin-top: 0.3em;
            list-style-image: url('../images/fleche_liste.png');

          }
        }
      }

      .testimonials{
        .testimonial{
          min-height: inherit;
          margin-bottom: 5rem !important;

          @media (max-width: 1094px){
            margin-bottom: 3rem !important;
          }

          .header{
            @include clearfix();

            .infos{
              padding-left: 20px;

              @media (max-width: 1094px){
                padding-left: 0;
              }
            }
          }

          hr{
            margin: 2rem auto;
            width: 80%;
          }
        }

        .testimonial:last-of-type{
          margin-bottom: 1rem !important;
        }
      }
    }
  }
}