html{
  font-size: 100%;

  .body-international{
    .main{
      .intro{
        margin-bottom: 2.6rem;

        p{
          max-width: 70%;

          @media (max-width: 1094px){
            max-width: 100%;
          }
        }
      }

      .testimonial{
        .header{
          @include clearfix();

          .infos{
            padding-left: 20px;

            @media (max-width: 1094px){
              padding-left: 0;
            }
          }
        }

        hr{
          margin: 2rem auto;
          width: 80%;
        }
      }

      .partnership{
        list-style: none;
        padding: 0;

        li{
          font-family: work sans;
          font-size: 16px;
          margin-left: 1.5em;
          margin-top: 0.3em;
          list-style-image: url('../images/fleche_liste.png');

        }
      }
    }
  }
}