html {
  font-size: 100%;

  .body-contact {
    #hero-section {
      margin: 0;
    }

    .contact, .maps{
      padding: 2rem 0;
    }

    /* Section 1 */
    .contact {
      background-color: $grey;

      .form {
        padding: 0 15px;
        h2 {
          margin-top: 0;
        }

        input, select, textarea {
          display: block;
          margin-bottom: 1rem;
          width: 100%;
        }

        select {
          height: 37px;
          border: none;
        }

        textarea {
          height: 100px;
          padding: 10px;
          border: none;
          border-radius: 5px;
          resize: none;
        }
      }

      hr {
        display: none;

        @media (max-width: 991px) {
          display: block;
          width: 80%;
          height: 0;
          border: 1px solid $blue;
        }
      }


      .coordination {
        img {
          display: block;
          margin: 0 auto 1rem auto;
          max-width: 20rem;
          height: auto;

          @media (max-width: 991px) {
            max-width: 13rem;
          }
        }

        .name-person {
          text-align: center;
        }
      }

      button {
        .blue-btn {
          box-shadow: 12px 3px 4px rgba(0, 172, 255, 0.31);

          &:hover {
            box-shadow: 11px 1px 3px rgba(0, 172, 255, .51);
          }
        }

        &:before {
          border-bottom: 10px solid #f7f7f7;
          border-right: 10px solid transparent;
        }
        .back_slant {
          //left: -14px;
          background-color: #f7f7f7;
          box-shadow: 12px 3px 1px 12px #f7f7f7;

          &:before {
            left: -10px;
            border-top: 10px solid #f7f7f7;
            border-left: 10px solid transparent;
          }

        }
      }
    }

    /* Section 2 */
    .maps {
      ul {
        padding: 0;
      }
    }
  }
}