div.perspectives{

  margin-top: 2em;
  margin-bottom: 4em;
  overflow: hidden;

  img.imgtest{

    width: 100%;

  }

p{

  max-width: 70%;

    @media screen and (max-width: 950px) {

      max-width: 100%;
    }

}

  div.col-sm-6{

    margin-bottom: 4em;

  }

  div.col-sm-6 h3{

        background-image: linear-gradient(to left, #0098FF, #00ACFF);
        min-height: 2em;
        text-align: center;
        margin-top: 2em;
        padding-top: 0.5em;
        color: white;

  }


  span.taux{

    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: work sans;
    color: #0098FF;
    font-size: 72px;
    padding-top: 0.5em;

  }

  span.voir_temoignages{

    display: inline-block;
    width: 100%;
    text-align: center;

    img{

      margin-right: 0.5em;
      margin-bottom: 0.5em;

    }

  }

  ul li{

    font-family: work sans;
    font-size: 16px;
    margin-left: 1.5em;
    margin-top: 1em;
    list-style-image: url('../images/fleche_liste.png');

  }

  li.type{

    font-family: work sans;
    font-size: 16px;
    
  }

  li.type:first-of-type, li.superieur{

    padding-top: 1em;

  }

  li.montant:last-of-type{

    padding-bottom: 0.5em;

  }

  li.montant{

    font-family: work sans;
    font-size: 32px;
    color: #0098FF;

  }

  li.type, li.montant{

    font-family: work sans;
    text-align: center;
    list-style-image: none;
    margin-left: 0em;
    margin-top: 0em;
    

  }

  div.stats{

    margin-top: 4em;

  }

  div.poursuite_etudes{

    margin-top: 4em;

  }

}

p.uni_design, p.uni_prog{

   font-family: raleway_bold;
   margin-top: 2em;

}

@media screen and (max-width: 500px) {

  div.perspectives{

    p{

      max-width: 100%;

    }

    div.col-sm-6 h3{

       padding: 0.5em;

  }

  }

}
