html{
  font-size: 100%;

  .body-stage{
    #hero-section{
      margin: 0;
    }

    .section1, .section2, .section3, .section4{
      @include clearfix();
      padding: 3rem 0;
      margin-bottom: 0;

      a{
        .blue-btn{
          box-shadow: 12px 3px 4px rgba(0, 172, 255, 0.31);

          &:hover{
            box-shadow: 11px 1px 3px rgba(0,172,255,.51);
          }
        }

        &:before{
          border-bottom: 10px solid #f7f7f7;
          border-right: 10px solid transparent;
        }
        .back_slant{
          //left: -14px;
          background-color: #f7f7f7;
          box-shadow: 12px 3px 1px 12px #f7f7f7;

          &:before{
            left: -10px;
            border-top: 10px solid #f7f7f7;
            border-left: 10px solid transparent;
          }

        }
      }
    }



    .section1{
      background-color: $grey;

      /*a:first-of-type{
        display: block;
      }*/
    }



    .section2{
      h2{
        margin-top: 0;
      }

      h3{
        margin-top: 2rem;
      }

      h4 {
        margin-top: 1.2rem;
      }

      p{
        max-width: 70%;

        @media (max-width: 1094px){
          max-width: 100%;
        }
      }

      .sequences1-2 {
        @include clearfix();

        ul[id="details"]{
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;

          /* Positionnement ancre */
          padding-top: 120px;
          position: relative;
          top: -120px;
          margin-bottom: -120px;

          li{
            width: 350px;
            height: 11rem;
            margin-bottom: 1.2rem;
            background-color: $grey;

            -webkit-box-shadow: 0px 0px 6px 0px rgba(196,196,196,1);
            -moz-box-shadow: 0px 0px 6px 0px rgba(196,196,196,1);
            box-shadow: 0px 0px 6px 0px rgba(196,196,196,1);

            .title{
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 4%;

              margin: 10% auto 0.8rem auto;
              width: 80%;
              height: 3rem;

              background-color: $blue;
              color: #fff;

              -webkit-box-shadow: 0px 0px 3px 0px rgba(82,156,212,0.73);
              -moz-box-shadow: 0px 0px 3px 0px rgba(82,156,212,0.73);
              box-shadow: 0px 0px 3px 0px rgba(82,156,212,0.73);

              strong{
                font-size: 1rem;
              }
            }

            .dates{
              margin: 0 10%;

              p{
                margin-bottom: 0.2rem;
              }
            }
          }
        }
      }

      .sequences3-4{
        @include clearfix();
      }
    }



    .section3{
      padding-top: 1.5rem;

      .liste-arrow li{
        font-family: work sans;
        font-size: 16px;
        margin-left: 1.5em;
        margin-top: 0.3em;
        list-style-image: url('../images/fleche_liste.png');
      }
    }



    .section4{
      background-color: $grey;
      padding-top: 1rem;
      padding-bottom: 0 !important;

      button{
        margin-bottom: 1.4rem;
      }

      p:last-of-type{
        margin-top: 1.8rem;
      }

      img{
        display: block;
        margin: 0 auto;
      }
    }





    @media (max-width: 991px) {
      .margin-top-mq{
        margin-top: 3rem;
      }

      .img-audrey{
        width: 280px;
        height: auto;
      }
    }
  }
}