<?php
    if(isset($_GET['btnDeconnecter'])){

        header('Location: administration.php');
        session_destroy();

    }
?>

<body>
<header>
    HEADER
    <nav>
        <a href="">Site public</a>
        <form action="administration.php" method="post" novalidate role="form" />
            <button id="btnDeconnecter" class="btnDeconnecter" name="btnDeconnecter" type="submit">Déconnexion</button>
        </form>
    </nav>

</header>