<div class="hero-image col-sm-12">

</div>
<div class="accueil_news content_wrap">
    <div class="actualite_text">
        <h2>ACTUALITÉS</h2>

        <p class="date">{{nouvelle.date_nouvelle}}</p>
        

        <h3>{{nouvelle.titre_nouvelle}}</h3>

        <p>{{nouvelle.description_nouvelle}}</p>

        <a href="{{nouvelle.url_nouvelle}}">En savoir plus</a>
    </div>
    <div class="actualite_img" style ="background-image:">

    </div>

</div>
