<div class="hero-image col-sm-12">

</div>
<div class="accueil_news">
    <div class="actualite_text">
        <h2>ACTUALITÉS</h2>

        <p class="date">30 mars 2017</p>

        <h3>Prochaine séquence de stages - 3e année</h3>

        <p>La prochaine s/quence de stages pour nos étudiants de troisième année débutera le 23 mars prochain</p>

        <a href="#">En savoir plus</a>
    </div>
    <div class="actualite_img">

    </div>

</div>
