{% extends 'layout.html.twig' %}

{% block content %}
    <div class="body-international">
        <section id="hero-section">
            <div class="container_page">
                <div class="hero-image-center col-sm-12">
                    <h1 id="h1-no-width" class="hero_title">{{ stage.titre_texte }}</h1>
                </div>
            </div>
        </section>

        {{ stage.texte | raw }}
    </div>
{% endblock %}