{% extends 'layout.html.twig' %}

{% block content %}
    <div class="body-stage">
        <section id="hero-section">
            <div class="container-page">
                <div class="hero-image-center col-sm-12">
                    <h1 id="h1-no-width" class="hero_title">{{ stage[1]['titre_texte'] }}</h1>
                </div>
            </div>
        </section>


        {# Champs 1 #}
        <section class="section1">
            <div class="container-page">
                <div class="infos col-md-6 col-sm-6">
                    <h2>Dates de début des stages en 2017</h2>
                    <hr class="title-underline">
                    <p>13 mars (3e année)</p>
                    <p>à partir du 31 mai (1ère et 2e année)</p>
                    <a href="stages/#details">
                        <button class="blue-btn">
                            <i class="fa fa-calendar-o i-space" aria-hidden="true"></i>
                            Calendrier complet
                            <span class="back_slant"></span>
                        </button>
                    </a>
                </div>
                <div class="bonus col-md-6 col-sm-6">
                    <h2 class="margin-top-mq">Voir aussi</h2>
                    <hr class="title-underline">
                    <a href="pdf/profilCompetences.pdf">
                        <button class="blue-btn">
                            <i class="fa fa-file-o i-space" aria-hidden="true"></i>
                            Profils de compétences
                            <span class="back_slant"></span>
                        </button>
                    </a>

                    <a href="pdf/offreStage2015.pdf">
                        <button class="blue-btn">
                            <i class="fa fa-file-o i-space" aria-hidden="true"></i>
                            Formulaire d'offre de stage
                            <span class="back_slant"></span>
                        </button>
                    </a>
                </div>
            </div>
        </section>





        {# Champ 2 #}
        <section class="section2">
            <div class="container-page">
                <div class="sequence-all col-md-12">
                    <div class="sequences1-2">
                        <div class="sequence1">
                            <h2>Séquence des stages 2017-2018</h2>
                            <hr class="title-underline">


                            <h3>Stage des étudiants de 3e année</h3>

                            <h4>ATE-2 + crédité</h4>

                            <p>Début 13 mars 2018 / Durée min. de 330 h / 10 semaines (avec interruption)</p>

                            <p>Ce stage est rémunéré. Les stages rémunérés sont admissibles à des crédits d'impôt avantageux. Notez que pour les deux dernières semaines du stage (22 mai 2018 au 2 juin 2018), la rémunération est optionnelle.</p>


                            <h4>En détail</h4>

                            <ul id="details">
                                <li class="margin-bottom-mq">
                                    <div class="title">
                                        <strong> Stage ATE-2</strong>
                                    </div>
                                    <div class="dates">
                                        <p>(8 semaines)</p>
                                        <p>du 13 mars au 5 mai 2018</p>
                                    </div>
                                </li>

                                <li class="margin-bottom-mq">
                                    <div class="title">
                                        <strong> Retour en classe</strong>
                                    </div>
                                    <div class="dates">
                                        <p>du 8 mai au 19 mai 2018</p>
                                    </div>
                                </li>

                                <li>
                                    <div class="title">
                                        <strong> Stage crédité</strong>
                                    </div>
                                    <div class="dates">
                                        <p>(2 semaines)</p>
                                        <p>du 22 mai au 2 juin 2018</p>
                                    </div>
                                </li>
                            </ul>
                        </div>


                        <div class="sequence2">
                            <h4>Crédité seulement</h4>
                            <p>Début 13 mars 2018 / Durée de 130 h / 4 semaines</p>
                            <p>Pour les étudiants qui ne participent pas au programme ATE, il s'agit d'un stage de quatre semaines non rémunéré. Notez que très peu d'étudiants sont disponibles pour cette variante du dernier stage.</p>
                            <h4>Attention</h4>
                            <p>Notez qu'à partir de l'hiver 2018, le stage de nos étudiants de 3e année sera obligatoirement un stage d'une durée de huit semaines.</p>
                        </div>
                    </div>


                    <div class="sequences3-4">
                        <div class="sequence3">
                            <h3>Stage des étudiants de 2<sup>e</sup> année</h3>

                            <h4>ATE-2</h4>

                            <p>Début à partir du 31 mai 2018 / Durée min. de 280 h / 8 semaines</p>

                            <p>Il s'agit d'un stage rémunéré. Les stages rémunérés sont admissibles à des crédits d'impôt avantageux.</p>
                        </div>


                        <div class="sequence4">
                            <h3>Stage des étudiants de 1e année</h3>

                            <h4>ATE-1</h4>

                            <p>Début à partir du 31 mai 2018 / Durée min. de 280 h / 8 semaines</p>

                            <p>Il s'agit d'un stage rémunéré. Les stages rémunérés sont admissibles à des crédits d'impôt avantageux.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>





        {# Champs 4 #}
        <section class="section3">
            <div class="container-page">
                <div class="etudiant col-md-6 col-sm-12">
                    <h2>Étudiant?</h2>
                    <hr class="title-underline">

                    <ul class="liste-arrow">
                        <li>
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            Démystifie le cours <a href="#">Stage en entreprise</a>
                        </li>
                        <li>
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            Découvre l'<a href="#">Alternance travail-études</a>
                        </li>
                        <li>
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            Explore les <a href="#">possibilités de stage en Europe</a>
                        </li>
                    </ul>
                </div>

                <div class="employeur col-md-6 col-sm-12">
                    <h2>Employeur?</h2>
                    <hr class="title-underline">

                    <ul class="liste-arrow">
                        <li>
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            Consultez les <a href="#">profils de compétences (format pdf)</a> des étudiants de 1e, 2e et 3e année
                        </li>
                        <li>
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            Faites votre <a href="#f">Offre de stage (format pdf)</a>
                        </li>
                        <li>
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            Consultez le <a href="#">Guide des employeurs (format pdf)
                        </li>
                    </ul>
                </div>
            </div>
        </section>





        {# Champs 3 #}
        <section class="section4">
            <div class="container-page">
                <div class="sequence3-infos col-md-6 col-sm-6">
                    <h2>Pour nous joindre:</h2>
                    <hr class="title-underline">
                    <h3>{{ stage[2]['titre_texte'] }}</h3>
                    <p>AUDREY MORNEAU-GAGNON</p>
                    <a href="nous-joindre/prof&audrey-morneau">
                        <button class="blue-btn">
                            <i class="fa fa-envelope-o i-space" aria-hidden="true"></i>
                            Contacter par mail
                            <span class="back_slant"></span>
                        </button>
                    </a>
                    <a href="tel:+14186596600">
                        <button class="blue-btn">
                            <i class="fa fa-phone i-space" aria-hidden="true"></i>
                            tel: (418) 659-6600 | poste 6668
                            <span class="back_slant"></span>
                        </button>
                    </a>

                    <p>Voir la fiche de cours <a href="programme/grille-cours/fiche-cours/stage-et-activites-professionnelles">Stages et activités professionnelles</a></p>
                </div>

                <div class="sequence3-img col-md-6 col-sm-6">
                    <img src="assets/images/photo_enseignants/enseignant_7.png" class="img-audrey" alt="Photo responsable des stages Audrey Morneau-Gagnon">
                </div>
            </div>
        </section>
    </div>
{% endblock %}