{# Intégration du layout de base #}
{% extends 'layout.html.twig' %}

{% block content %}
<h1>PROGRAMME</h1>
{% for valeur in arrTextes %}
    <h2>{{ valeur['titre'] }}</h2>
    {{ valeur['paragraphe'] | raw }}
{% endfor %}

{% endblock %}



