<head>
    <meta charset="utf-8"/>
    <title>{{ title }}</title>
</head>
<body>
<h1>PROGRAMME</h1>
{% for valeur in arrTextes %}
    <h2>{{ valeur['titre'] }}</h2>
    {{ valeur['paragraphe'] | raw }}
{% endfor %}


</body>
