@font-face {
  font-family: open_sans_light;
  src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: open_sans_regular;
  src: url("../fonts/OpenSans-Regular.ttf");

}

@font-face {
  font-family: open_sans_bold;
  src: url("../fonts/OpenSans-bold.ttf");

}

@font-face {
  font-family: raleway_black;
  src: url("../fonts/Raleway-Black.ttf");
}

@font-face {
  font-family: raleway_bold;
  src: url("../fonts/Raleway-Bold.ttf");
}

@font-face {
  font-family: raleway_semi_bold;
  src: url("../fonts/Raleway-SemiBold.ttf");
}

@font-face {
  font-family: workSans;
  src: url("../fonts/WorkSans-ExtraBold.ttf");
}


div.container_page {

  max-width: 1440px;
  margin: 0 auto;
  @include clearfix();

}
section{
  clear: both;
  display: block;
  height: auto;
  position: relative;
  margin-bottom:25px;
  .container{
    padding-top: 0px;
    height: auto;
    position: relative;
    display: table;
  }
}

body {
  background-color: white;
  transition: 0.5s transform ease-in-out;
  overflow-x: hidden;
  height: auto;
  width: 100%;
  top: 100px;
  position: relative;
  @media(max-width:769px){
    top:70px;
    @media(max-width:550px){
      top:45px;
    }
  }
  h1.hero_title {
    font-family: 'Work Sans',sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #fff;
    width: 250px;
    @media(max-width:769px){
      font-size:30px;
    }
  }

  h2 {
    font-family: 'Work Sans',sans-serif;
    font-size: 26px;
    margin-bottom: 5px;
    font-weight: 700;
    color: darkslategrey;
    @media(max-width:769px){
      font-size:20px;
    }
  }
  h3 {
    font-family: 'work sans',sans-serif;
    font-size: 28px;
    font-weight: 500;
    @media(max-width:769px){
      font-size:22px;
    }
  }
  h4 {
    font-family: 'work sans',sans-serif;
    font-size: 22px;
    font-weight: 500;
    //letter-spacing: 1px;
    @media(max-width:769px){
      font-size:18px;
    }

  }
  p {

    font-family: 'work sans',sans-serif;
    font-weight: 400;
    font-size:16px;
    @media(max-width:769px){
      font-size:16px;
    }
  }
  main a{
    font-family: 'work sans',sans-serif;
    font-weight: 400;
  }
  p.date{
    font-family: 'work sans',sans-serif;
    font-weight: 300;
    color: #999;
  }
  #hero_canvas{
    position: absolute;
    width: 100%;
    height: 100%;
  }

  //overflow: hidden;

  &#tinymce {
    background-color: white;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.meta_nav {
  padding: 0 2% 0 2%;

  p{
    width: 100%;
    @media screen and (min-width: $tablettePaysage) {
      width: initial;
    }
  }
  ul {
    padding: 0;
    text-align: right;
    margin-bottom: 0;
    font-family: open_sans_regular;
    font-size: 11px;
    color: black;
    li {
      display: inline-block;
      margin-left: 20px;
      margin-right: 20px;

      img {
        width: 65px;
        backface-visibility: hidden;
      }

    }
    li:last-of-type {
      margin-right: 0;

    }
  }
}



/* SOULIGNEMENT DES TITRES*/
hr.title-underline {
  display: block;
  background: linear-gradient(270deg, #0098ff, #00acff);
  height: 1px;
  width: 210px;
  margin: 0 0 25px 0;
}

/* BANNIÈRE BLEUE*/

#h1-no-width {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: workSans;
  font-size: 32px;
  text-transform: uppercase;
  color: #fff;
  width: inherit;
  max-width: 700px;
  z-index: 3;
  @media screen and (min-width: $tablettePortrait) {
    font-size: 38px;
  }
}
#hero-section .hero-image-center {
  height: 300px;
  @media screen and (min-width: $tablettePortrait) {
    height: 360px;
  }
  padding-top: 0;
  position: relative;
}

#hero-section {
  clear: both;
  height: 300px;
  @media screen and (min-width: $tablettePortrait) {
    height: 360px;
  }
  background-image: url("../../dist/images/hero_bkg_pattern@1x.png");
  background-size: cover;
  background-position: 50%;

  background-image: url("../../dist/images/hero_bkg_pattern@1x.png");

  @media only screen and (-o-min-device-pixel-ratio: 5/4),
  only screen and (-webkit-min-device-pixel-ratio: 1.25),
  only screen and (min--moz-device-pixel-ratio: 1.25),
  only screen and (min-device-pixel-ratio: 1.25),
  only screen and (min-resolution: 1.25dppx) {
    background-image: url("../../dist/images/hero_bkg_pattern@2x.png");
  }
  background-size: cover;
  background-position: 50%;

  .hero-image {
    height: 300px;
    padding-top: 60px;
    @media screen and (min-width: $tablettePortrait) {
      height: 360px;
      padding-top: 112px;
    }
    position: relative;

  }
}

/* Buttons */
.partie_tim {
  .inscription-btn {
    background: linear-gradient(to left, #F5285D, #FF2424);
    box-shadow: 12px 3px 6px 0 rgba(246, 40, 89, .42);
    &:hover {
      box-shadow: 12px 2px 2px 0 rgba(246, 40, 89, .42);
      &:after {
        box-shadow: 2px 3px 3px rgba(246, 40, 89, .32)
      }
    }
    &:after {
      box-shadow: 2px 3px 8px rgba(246, 40, 89, .22);
    }
  }
}

.blue-btn {
  color: #fff;
  padding: 10px 15px;
  background: linear-gradient(to left, #0098FF, #00ACFF);
  backface-visibility: hidden;
  display: inline-block;
  margin-top: 10px;
  border: none;
  font-size: 14px;
  font-weight: 400;
  box-shadow: 11px 3px 5px rgba(0, 172, 255, .35);
  backface-visibility: hidden;
  transition: all .2s ease-in-out;
  transform: translateY(0px);
  @media(max-width:769px){

    font-size: 14px;

  }
  .back_slant {
    height: 41px;
    position: absolute;
    width: 2px;
    background-color: transparent;
    top: -2px;
    right: 2px;
    box-shadow: 16px 3px 0px 12px #fff;
    &:before {
      content: "";
      display: table;
      position: absolute;
      top: 2px;
      left: -6px;
      width: 0;
      height: 0;
      z-index: 9;
      border-top: 12px solid #fff;
      border-left: 12px solid transparent;
    }
  }

  &:hover {
    transform: translateY(2.7px);
    color: #fff;
    box-shadow: 11px 1.75px 3px rgba(0, 172, 255, .45);
    text-decoration: none;
    &:after {
      box-shadow: 1px 0px 8px rgba(0, 172, 255, .65);
    }
  }
  &:focus {
    text-decoration: none;
    color: white;
    outline: none;
  }
  &:before {
    content: "";
    display: table;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0;
    height: 0;
    z-index: 9;
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
  }
  &:after {

    content: "";
    display: table;
    position: absolute;
    bottom: 5px;
    left: 0px;
    transform: rotate(45deg);
    background: transparent;
    height: 7px;
    width: 15px;
    box-shadow: 1px 2px 8px rgba(0, 172, 255, .35);
    z-index: 9;
    transition: all .2s ease-in-out;
  }

  .i-space {
    margin-right: 10px;
  }

}

/* Inputs */
/*
Structure :
<div class="field">
	<label for=""></label>
    <i></i> (Pour cette ligne copier / coller code sur la page de font-awesome et rajouter la class "icon"
    <input required type="" id="" name="" title="" placeholder="">
</div>
*/
label {
  display: block;
}
main{
  height: auto;
  //display: flex;
}

.icon {
  position: absolute;
  color: #00a3ff;
  padding: 17px;
  background: rgba(0, 0, 0, 0.04);
}

input[type="text"], input[type="email"] {
  width: 350px;
  height: 47px;
  padding-left: 58px;

  border: none;
  border-radius: 5px;
}

input, textarea, select {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  // Extends the .visuallyhidden class to allow the element to be focusable
  // when navigated to via the keyboard: https://www.drupal.org/node/897638
  &.focusable:active,
  &.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}

/* Témoignages */
.testimonials {
  margin: 1.5rem auto;

  .testimonial, .col-md-6, .col-sm-12{
    padding: 0 !important;
  }

  .testimonial {
    margin-bottom: 2.2rem;
    padding: 1rem;

    p {
      margin-top: 1rem;
      text-align: left;
      max-width: 90%;

      @media (max-width: 1094px){
        max-width: 100%;
      }
    }
  }
}

/* Listes */
.liste-arrow{
  i{
    color: $blue;
    margin-right: 5px;
  }
}

a i.fa{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  top: -2px;
  position: relative;
  -webkit-transition-property: transform;
  transition-property: transform;
}
@media screen and (min-width: $tablettePortrait) {
  a i.fa:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

a i.fa-external-link-square{
  padding: 0 5px 15px;
}
