// Colors
$brand-primary:         #f42534;
$biaRed:                #f42534;
$blue:                  #00a3ff;
$moreBlue:              #0098ff;
$greyBlue:              #006DB3;
$grey:                  #f7f7f7;
$washedBlue:            transparent;

$bgFooter : $washedBlue;

/* POINTS DE RUPTURES **/

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
$mobilePortrait : 320px;
$mobilePortrait2 : 400px;
/* smartphones, Android phones, landscape iPhone */
$mobilePaysage : 500px;
$mobilePaysage2 : 550px;
/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
$tablettePortrait : 600px;
$tablettePortrait2 : 760px;
$tablettePortrait3 : 866px;
$breakquiz : 767px;
/* tablet, landscape iPad, lo-res laptops ands desktops */
$tablettePaysage : 900px;
/* big landscape tablets, laptops, and desktops */
$desktop : 950px;
$desktop2 : 991px;
/* hi-res laptops and desktops */
$desktopLarge : 1220px;
$desktopLarge2 : 1440px;