{% extends 'layout.html.twig' %}

{% block content %}
    <div class="body-ate">
        <section id="hero-section">
            <div class="container">
                <div class="hero-image-center col-sm-12">
                    <h1 id="h1-no-width" class="hero_title">{{ stage[0]['titre_texte'] }}</h1>
                </div>
            </div>
        </section>

        {# Champs 1 #}
        <section class="main">
            <div class="container">
                <div class="intro col-md-12 col-sm-12">
                    <p>L'Alternance travail-études (<abbr title="Alternance travail-études">ATE</abbr>) est une stratégie pédagogique qui propose une collaboration entre le milieu d'enseignement et le milieu de travail. Cette collaboration permet aux étudiants d'alterner entre des sessions d'études et des séquences de stages en entreprises.<br> Les stages en Alternances travail-études (<abbr title="Alternance travail-études">ATE</abbr>) sont des stages volontaires. Les étudiants sont libres de s'y inscrire ou non. Les étudiants qui choisissent d'adhérer au programme d'Alternance travail-études doivent toutefois s'engager à compléter la séquence complète des deux stages prévus dans ce programme.</p>
                </div>



                <div class="content-1 col-lg-12">
                    <h3>Premier stage ATE (pour les étudiants de première année)</h3>

                    <p>Le premier des deux stages ATE a lieu durant l'été entre la première et la deuxième année de formation. Il débute dès la fin de la deuxième session. Il doit être d'un minimum de huit semaines.</p>
                </div>



                <div class="content-2 col-lg-12">
                    <h3>Deuxième stage ATE (pour les étudiants de deuxième année)</h3>

                    <p>Le deuxième stage ATE a lieu durant l'été entre la deuxième et la troisième année de formation. Il débute dès la fin de la quatrième session. Il doit être d'un minimum de huit semaines.</p>
                </div>


                <div class="content-3 col-lg-12">
                    <h3>Caractéristiques des stages ATE</h3>

                    <ul>
                        <li>Chaque stage ATE doit être d'une durée minimale de 280 heures, ce qui correspond à huit semaines de 35 heures.</li>
                        <li>Les stages ATE sont obligatoirement rémunérés. La rémunération est fixée par l'employeur.</li>
                        <li>Un stage peut se poursuivre au delà des huit semaines prescrites s'il y a entente entre l'étudiant et le milieu de stage.</li>
                        <li>Des ateliers préparatoires ont lieu dans les mois précédents le stage: rédaction de CV, de lettre ou courriel d'accompagnement et préparation à une entrevue d'embauche.</li>
                        <li>Une équipe de professeurs assure l'encadrement des stagiaires pendant l'été.</li>
                    </ul>
                </div>



                <div class="content-4 col-lg-12">
                    <h3>Attention : Deuxième stage ATE des étudiants de 3e année à l'hiver 2017</h3>

                    <p>Le deuxième stage ATE de nos finissants aura lieu pour une dernière fois durant la session d'hiver, donc dans le courant de leur sixième et dernière session de formation.
                        <br>
                        Notez qu'à partir de l'hiver 2018, le stage de nos finissants sera un stage crédité obligatoire d'une durée de huit semaines et non plus un stage ATE facultatif complété par un stage crédité court de 2 semaines.</p>
                </div>
            </div>
        </section>
    </div>
{% endblock %}