<!DOCTYPE HTML>
<html lang="fr">

<body>
<main>
    <section class="haut_page">
        <h1>{{ page }}</h1>
    </section>
    <section class="texte_intro">
            Cette page est inexistante!
    </section>
</main>
</body>
</html>