<main>
    <form action="csf-admin/administration.php" method="post" novalidate role="form">
        <h1>Connexion</h1>
        <fieldset>
            <legend>Connectez-vous</legend>

            <p>
                <label for="nomUsager">Nom d'usager<span class="asterisque" aria-hidden="true"> *</span></label>
                <input id="nomUsager" name="nomUsager" type="text"/><span class="icone"></span><br/>
                <span class="erreur"></span>

            </p>

            <p>
                <label for="motDePasse">Mot de passe<span class="asterisque" aria-hidden="true"> *</span></label>
                <input id="motDePasse" class="inputMotDePasse" name="motDePasse" type="password"
                       pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" required/><span class="icone"></span><br/>
                <span class="erreur"></span>

            </p>
            <button id="btnConnecter" class="btnConnecter" name="btnConnecter" type="submit">Se connecter</button>
        </fieldset>
    </form>
</main>