{% extends 'layout.html.twig' %}

{% block content %}
{#
    {{ pages.texte | raw }}
#}


    {# Champs1 #}
    <h2>Stages internationaux</h2>

    <p>Le programme Techniques d'intégration multimédia du Cégep de Sainte-Foy vous offre la possibilité de terminer votre formation à l'étranger en y réalisant un stage en entreprise de 10 semaines.</p><p>Le bureau international du Cégep de Sainte-Foy et notre programme ont établi des partenariats avec ces institutions françaises:</p>

    <ul>
        <li><a href="http://iut.univ-mlv.fr/" target="_blank">L'<abbr title="Institut universitaire de Technologie">IUT</abbr> de Marne-Lavallée</a>, à Paris, France</li>
        <li><a href="http://iuthaguenau.u-strasbg.fr/" target="_blank">L'<abbr title="Institut universitaire de Technologie">IUT</abbr> de Haguenau</a>, près de Strasbourg, France</li>
    </ul>
    <p>Il s'agit d'une opportunité de vivre une expérience internationale inoubliable!</p>
    <h2>Témoignages:</h2>

    <p><img src="#" alt="Gabriel Paquin"></p>

    <ul>
        <li><h3>Gabriel Paquin<br></h3></li>
        <li><strong> 20 mars 2016 au 6 juin 2016</strong></li>
    </ul>

    <p>Ce voyage m’a littéralement servi de carburant pour l’année 2015-2016 et tous les efforts que j’ai mis se sont vus-sur-récompensés par cette expérience qui a fait naître quelque chose de nouveau en moi et qui surtout, restera pour toujours gravée dans ma mémoire.</p><br>
    <a title="Témoignage de Gabriel Paquin" href="#" target="_blank">Témoignage de Gabriel Paquin (53,5 ko, PDF)</a>

    <p><img src="#" alt="Laurence Fiset-Grenier"></p>

    <ul>
        <li><h3>Laurence Fiset-Grenier</h3></li><br>
        <li><strong> 20 mars 2016 au 6 juin 2016 </strong></li>
    </ul>

    <p>Cette expérience est sans aucun doute la meilleure que j’ai pu vivre jusqu’à maintenant et je recommencerais n’importe quand. Elle m’a permis de me développer sur le plan personnel, car c’était la première fois que je partais aussi longtemps, mais aussi la première fois que je vivais en appartement. J’ai donc beaucoup développé mon autonomie et ma débrouillardise.</p><br> <a  title="Témoignage de Laurence Fiset-Grenier" href="#" target="_blank">Témoignage de Laurence Fiset-Grenier (1007 ko, PDF)</a>

    <p><img src="#" alt="François Genesse"></p>
    <ul>
        <li><h3>François Genesse<br></h3></li>
        <li><strong> 20 mars 2016 au 6 juin 2016</strong></li>
    </ul>

    <p>C’est une merveilleuse occasion de passer 3 mois entouré d’histoire dans
        une ville vivante et dynamique où il fait bon vivre.</p><br>
    <a  title="Témoignage de François Genesse" href="#" target="_blank">Témoignage de François Genesse (459 ko, PDF)</a>
{% endblock %}