<footer>
    <section>
        <h2 class="visuallyHidden">Liens utiles</h2>
            <article>
                <h3>Faire partie de la TIM</h3>
                <p>Tu t’intéresses à la création et au développement de sites Web ou d’applications multimédia et tu souhaites te joindre à la TIM l’an prochain? Complète ta demande d'admission avant le 1er mars.</p>
                <a href="futur_etudiant#processusAdmission">S'inscrire</a>
            </article>
            <article>
                <h3>CIMMI</h3>
                <p>Le cégep de Sainte-Foy est partenaire du Centre en imagerie numérique et médias interactifs (CIMMI) dans la réalisation de projets de recherche appliquée.</p>
                <a href="http://www.cimmi.ca/" target="_blank">Visiter le site internet</a>
            </article>
    </section>
    <section>
        <h2 class="visuallyHidden">Crédits</h2>
        <div>
            <div>
                {{ texte_auteurs | raw }}
            </div>
            <div>
                <p>Tous droits réservés <span>© 2017 - Techniques d’intégration</span> multimédia, Cégep de Sainte-Foy.</p>
            </div>
        </div>
    </section>
</footer>