<footer>
    <section>
        <h2 class="visuallyHidden">Liens utiles</h2>
            <article>
                <h3>Faire partie de la TIM</h3>
                <p>Tu t’intéresses à la création et au développement de sites Web ou d’applications multimédia et tu souhaites te joindre à la TIM l’an prochain? Complète ta demande d'admission avant le 1er mars.</p>
                <a href="futur_etudiant#processusAdmission">S'inscrire</a>
            </article>
            <article>
                <h3>CIMMI</h3>
                <p>Le cégep de Sainte-Foy est partenaire du Centre en imagerie numérique et médias interactifs (CIMMI) dans la réalisation de projets de recherche appliquée.</p>
                <a href="http://www.cimmi.ca/" target="_blank">Visiter le site internet</a>
            </article>
    </section>
    <section>
        <h2 class="visuallyHidden">Crédits</h2>
        <div>
                <p>Ce projet a été choisi parmi les six propositions réalisées dans le cadre du cours Production multimédia VI au printemps 2017. Les auteurs:
                    <a href="#">Jonathan Barbeau</a>, <a href="#">Vincent Béland</a>, <a href="#">William Charest-Pépin</a>, <a href="#">Erwann Letue</a> et <a href="#">Annabelle Violette</a> ont remporté les honneurs du Roger d'Or.</p>

                <ul>
                    <li><a href="http://www.facebook.com/timcsf" title="Page Facebook du programme Techniques d'intégration multimédia">Facebook</a></li>
                    <li><a href="http://twitter.com/timcsf" title="Compte Twitter du programme Techniques d'intégration multimédia">Twitter</a></li>
                    <li><a href="http://www.linkedin.com/groups?gid=2211970" title="Groupe LinkedIn du programme Techniques d'intégration multimédia">LinkedIn</a></li>
                </ul>

                <p>© 2017, Techniques d'intégration multimédia, Cégep de Sainte-Foy.</p>

                <script>
                    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                    ga('create', 'UA-338031-1', 'auto');
                    ga('send', 'pageview');

                </script>
        </div>
    </section>
</footer>
</body>
</html>