<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width"/>
    <base href="{{ niveau }}"/>
    <link rel="stylesheet" href="css/app.css">//***** a changer *******////

    <title>{{ title }} | {{ specifique }}</title>
</head>