<header class="main-header">
    <div class="wrap">
        <span id="logoTIM"><a href="#"><img src="#" alt="Logo du programme en Techniques d'intégration multimédia."></a></span>
        <div >
            <div id="meta-nav">
                <ul>
                    <li><a href="">Accueil</a></li>
                    <li><a href="../nous_joindre">Nous joindre</a></li>
                    <li><a href="http://www.cegep-ste-foy.qc.ca" target="_blank"><img src="#" alt="Logo du Cégep de Sainte-Foy."></a></li>
                </ul>
            </div>
            <nav>
                <ul>
                    <li><a href="futur_etudiant">Futur étudiant</a>
                        <ul class="second-nav">
                            <li><a href="futur_etudiant/bon_choix">Fais-tu le bon choix?</a></li>
                            <li><a href="futur_etudiant/profil">As-tu le profil?</a></li>
                            <li><a href="futur_etudiant/perspectives">Perspectives</a></li>
                            <li><a href="futur_etudiant/temoignages">Témoignages</a></li>
                        </ul>
                    </li><li><a href="programme">Programme</a>
                        <ul class="second-nav">
                            <li><a href="programme/equipe">Équipe</a></li>
                            <li><a href="programme/grille_cours">Grilles de cours</a></li>
                        </ul>
                    </li><li><a href="stages">Stages</a>
                        <ul>
                            <li><a href="stages/ate">Alternance Travail-Études</a></li>
                            <li><a href="stages/international">International</a></li>
                        </ul>
                    </li><li><a class="main-link " href="/~koma/diplomes">Diplômés</a></li>
                </ul>
            </nav>
        </div><!-- end bloc-nav -->
    </div><!-- end wrap -->
</header>