{# Intégration du layout de base #}
{% extends 'layout.html.twig' %}


{% block content %}
<section id="ajoutEvenement">
    <form method="get" action="" name="fInfosEtudiant">
        <h2> Création d'un nouvel événement </h2>
        <div class="titre_actu">
            <h3>Titre de l'evenement</h3>
            <input type="text" name="titre_actu"></input>
        </div>
        <div class="date_actu">
            <h3>date de l'evenement</h3>
            <input type="text" name="exp_actu"></input>
        </div>
        <div class="desc_actu">
            <h3>Description de l'evenement</h3>
            <textarea name="desc_actu" cols="40"></textarea>
        </div>
        <div class="url_actu">
            <h3>Url de l'evenement</h3>
            <input type="text" name="url_actu"></input>
        </div>


        <input type="submit" name="submit_actu" value="Ajouter l'evenement"/>
    </form>
    

</section>





{% endblock%}