{# Intégration du layout de base #}
{% extends 'layout.html.twig' %}


{% block content %}
    <section class="haut_page container">
        <h1>{{ page }}</h1>
    </section>
    <section class="texte_intro container">
            <h2>Cette page est inexistante!</h2>
    </section>
{% endblock%}